body {
    font-family: 'Arial', sans-serif;
    background-color: #222;
    color: white;
    text-align: center;
    padding: 20px;
}

h1, h2 {
    color: #FFD700;
}

.image-container {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.gallery img {
    width: 220px;
    height: auto;
    cursor: pointer;
    border: 3px solid #FFD700;
    transition: transform 0.3s ease-in-out;
}

.gallery img:hover {
    transform: scale(1.1);
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
}

.lightbox-content {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
}

.close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: white;
    cursor: pointer;
}
